# Data mining techniques: Assignment 2

This environment makes use of Python version 3.6.3

In [5]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

## Load the data into a dataframe

In [6]:
# Calculate number of lines in csv file
datafile = open("Data Mining VU data/training_set_VU_DM_2014.csv")

datasize = 0
for line in datafile:
    datasize += 1

print("Dataset size",datasize)

Dataset size 4958348

In [7]:
def data_sample(filepath,n_samples,datasize):
    """
    Samples a specified amount of instances from a given dataset
    """
    
    skip_idx = random.sample(range(1,datasize),datasize-n_samples)
    return pd.read_csv(filepath,skiprows=skip_idx)

In [9]:
filepath = "Data Mining VU data/training_set_VU_DM_2014.csv"

n_instances = 100000
df = pd.read_csv(filepath,nrows=n_instances)

df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,...,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
14,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,81437,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
15,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,85728,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
16,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88096,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,15.0,0,NaN,0
17,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88127,3,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
18,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88218,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
19,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,89073,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0
20,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95166,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
21,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95307,4,3.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,27.0,0,NaN,0
22,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,97247,2,3.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
23,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,107872,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,14.0,0,NaN,0
24,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111000,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
25,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111106,3,2.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
26,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,114766,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
27,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,122844,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
28,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,3625,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
29,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11622,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,58746,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99971,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,60679,2,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99972,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,61580,3,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,16.0,0,NaN,0
99973,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,68185,2,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99974,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,81460,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99975,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,88811,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99976,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,92066,2,2.5,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0,NaN,0
99977,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,95140,2,3.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,7.0,0,NaN,0
99978,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,99720,2,2.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,9.0,0,NaN,0
99979,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,103225,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99980,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,111383,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99981,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,111899,3,3.5,...,NaN,NaN,NaN,NaN,1.0,0.0,17.0,0,NaN,0
99982,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,117280,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99983,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,117710,3,5.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99984,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,125967,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,92.19,1
99985,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,126246,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99986,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,127277,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99987,6697,2012-12-30 06:05:53,5,219,NaN,NaN,219,132329,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99988,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,7011,2,2.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99989,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,8797,2,2.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99990,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,12357,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,82.62,1
99991,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,15770,2,2.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99992,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,22013,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
99993,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,25236,4,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99994,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,25985,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99995,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,31166,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99996,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,31486,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99997,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,37124,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99998,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,37304,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
99999,6700,2013-01-04 11:41:32,5,219,NaN,NaN,219,37543,4,3.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,14.0,0,NaN,0

## Exploratory data analysis